include README.md
include LICENSE
include pyproject.toml
recursive-exclude * __pycache__
recursive-exclude * *.py[co]
recursive-exclude tests *
recursive-exclude scripts *
recursive-exclude semantic_models *
recursive-exclude specs *
recursive-exclude htmlcov *
recursive-exclude .pytest_cache *
recursive-exclude .benchmarks *